.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
  }
  .input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
  }
  .input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
  }
  .input_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;

  }
  
.input_btn:hover {
    background-color: #388ae2;
  }
  .todos__single  {
    margin-left: 0px;
   display: flex;
   overflow: hidden; /* Prevent text overflow */
   width: 90%; 
    border-radius: 5px;
    padding: 20px;
    overflow: hidden; 
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  }
  .todos {
    display: flex;
    flex-direction: column; /* Change to column layout */
    width: 90%;
    
  }
  .todos_single--text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
  white-space: nowrap;
  }
  .icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  @media (max-width: 700px) {
    .input {
      width: 95%;
    }
    .todos {
      width: 45%;
      margin-right:0px ;
    }
    .todos__single {
      width: 100%;
    }
  }
  .todos__single.done {
    color: rgb(22, 19, 185);
    text-decoration: line-through;
  }